:8080 {
	route {
		@internalMetrics path /api/metrics
		respond @internalMetrics 404

		handle_path /api/* {
			reverse_proxy api:4000
		}

		handle /ws {
			reverse_proxy api:4000
		}

		handle {
			reverse_proxy web:3000
		}
	}
}
